# Binaries
/bin/
*.exe
*.test
# Environment Variables
.env
.env.local
.env.*.local
# OS specific
.DS_Store
Thumbs.db
# IDEs
.vscode/
.idea/
# Logs
*.log
*.lcov
# Build
bin/
dist/
build/
out/
*.exe
*.test
*.tgz
# Node
node_modules/
# Go
vendor/


# Environment Variables
.env

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
