# Binaries
/bin/
*.exe
*.test
main

# Test Files
**/*_test.go

# Test Coverage and Report Files (generated)
/*.out
coverage.html
coverage.txt
report.md

# Environment Variables
.env

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
