SERVER_PORT=8083
# SERVER_HOST: The host address to bind the server (e.g., localhost, 0.0.0.0)
SERVER_HOST=0.0.0.0
# SERVER_IP: The IP/domain used to construct asset URLs (e.g., localhost, 192.168.1.10, yourdomain.com)
SERVER_IP=localhost
SERVER_SCHEME=http

# Storage Drivers: local, s3, minio
STORAGE_DRIVER=local

# Local Storage Configuration
STORAGE_DEV_PATH=./uploads

# AWS Configuration
AWS_REGION=us-east-1
AWS_BUCKET=my-bucket
AWS_ACCESS_KEY=your-access-key
AWS_SECRET_KEY=your-secret-key

# MinIO Configuration
MINIO_ENDPOINT=play.min.io
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=my-bucket
MINIO_USE_SSL=true

# Allowed origins for CORS (comma-separated)
ALLOWED_ORIGINS=http://localhost:3000,http://example.com
